/* =========================
   MONTSERRAT FONT FAMILY
========================= */

@font-face {
  font-family: "Montserrat";
  src: url("/font/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/font/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/font/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/font/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

/* =========================
   ROOT VARIABLES
========================= */

:root {
  /* Colors */
  --primary: #17375e;
  --secondary: #d32027;
  --background: #f8f7f4;

  /* Font Family */
  --font-primary: "Montserrat", sans-serif;

  /* Font Sizes */

  --main-title: 64px;
  --subtitle-1: 55px;
  --subtitle-2: 48px;

  --body-1: 40px;
  --body-2: 36px;

  --body-3: 24px;
  --body-3-2: 24px;
  --body-4: 20px;
  --number: 32px;
  --light: 16px;

  /* Font Weights */

  --extra-bold: 800;
  --bold: 700;
  --semi-bold: 600;
  --medium: 500;
}

/* =========================
   GLOBAL RESET
========================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
  background-color: var(--background);
  color: var(--primary);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

/* =========================
   TYPOGRAPHY SYSTEM
========================= */

.main-title {
  font-size: var(--main-title);
  font-weight: var(--extra-bold);
  line-height: 1.1;
}

.subtitle-1 {
  font-size: var(--subtitle-1);
  font-weight: var(--bold);
  line-height: 1.2;
}

.subtitle-2 {
  font-size: var(--subtitle-2);
  font-weight: var(--semi-bold);
  line-height: 1.2;
}

.body-1 {
  font-size: var(--body-1);
  font-weight: var(--semi-bold);
  line-height: 1.4;
}

.body-2 {
  font-size: var(--body-2);
  font-weight: var(--medium);
  line-height: 1.4;
}

.body-3 {
  font-size: var(--body-3);
  font-weight: var(--medium);
  line-height: 1.5;
}

.body-3-2 {
  font-size: var(--body-3-2);
  font-weight: var(--semi-bold);
  line-height: 1.5;
}

.body-4{
  font-size: var(--body-3);
  font-weight: var(--semi-bold);
  line-height: 1.4;
}

.body-5{
  font-size: var(--body-4);
  font-weight: var(--medium);
  line-height: 1.3;
}

.body-6{
  font-size: var(--body-4);
  font-weight: var(--semi-bold);
  line-height: 1.4;
}

.subheading{
   font-size: 48px;
   font-weight: var(--extra-bold);
   line-height: 1.5;
}

.number{
  font-size: var(--number);
  font-weight: var(--semi-bold);
  line-height: 1.5;
}

.lighttext{
  font-size: var(--light);
  font-weight: var(--medium);
  line-height: 1.2;
}

.CTAheading{
  font-size: var(--body-1);
  font-weight: var(--extra-bold);
  line-height: 1.5;
}